<div id="footer">
    <h3>Connect with me!</h3>
    <div class="container medium">
        <ul class="icons">
            <li><a href="https://www.linkedin.com/in/dawn-lin-b4b28b176" class="icon brands fa-linkedin"><span
                        class="label">LinkedIn</span></a></li>
            <li><a href="https://join.skype.com/invite/gZzEZadvmQSV" class="icon brands fa-skype"><span
                        class="label">Skype</span></a></li>
            <li><a href="https://github.com/lindawn" class="icon brands fa-github"><span class="label">Github</span></a>
            </li>
            <li><a href="https://t.me/dawnbun" class="icon brands fa-telegram"><span class="label">Telegram</span></a>
            </li>
            <li><a href="mailto:dawn.lin@u.nus.edu" class="icon fas fa-envelope"><span class="label">Mail</span></a>
            </li>
        </ul>

    </div>
</div>