<section id="five">
    <div class="container">
        <h3>Contact Me</h3>
        <ul class="contact">
            <li>
                <a href="mailto:tan.lin.dawn@gmail.com" data-toggle="tooltip" title="Email">
                    <span class="fa-stack fa-1x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </li>
            <li>
                <a href="https://t.me/dawnbun" data-toggle="tooltip" title="Telegram">
                    <span class="fa-stack fa-1x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-telegram-plane fa-stack-1x fa-inverse"></i>
                    </span></a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/dawn-lin-b4b28b176" data-toggle="tooltip" title="LinkedIn">
                    <span class="fa-stack fa-1x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
                    </span></a>
            </li>
            <li>
                <a href="https://join.skype.com/invite/gZzEZadvmQSV" data-toggle="tooltip" title="Skype">
                    <span class="fa-stack fa-1x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-skype fa-stack-1x fa-inverse"></i>
                    </span></a>
            </li>
            <li>
                <a href="https://github.com/lindawn" data-toggle="tooltip" title="Github" >
                    <span class="fa-stack fa-1x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                    </span></a>
            </li>
         
        </ul>
    </div>
</section>