ul.contact {
    list-style: none;
    vertical-align: top;
    margin: 0 20%;
}

ul.contact li {
    text-decoration: none;
    display: inline-block;
    margin: 0 0 1.6875em 0;
    padding: 0.35em 0 0 2.5em;
    position: relative;
    vertical-align: top;
    
}

ul.contact a {
    border: none;
}