<div class="row">
    <div class="col-3 ">
        <img class="img-fluid thumbnail " src="assets/images/breakinus-logo.jpg" />
    </div>
    <div class="col-8">
        <h2>BreakiNUS, The Official NUS Bboy Club</h2>
        <h5>Vice President, Jan 2018 - Dec 2018</h5>
        <p>
            As the Vice-President of the club, I helped to organise one of Singapore’s largest annual inter-university
            breakdance jam, facilitating the exchange between clubs. On a regular basis, the job required management of
            club logistics and venues for rehearsals and practice, and assistance of the president with building
            internal and external club relations.
    </div>
</div>

<div class="row">
    <div class="col-3 ">
        <img class="img-fluid thumbnail" src="assets/images/shan.jpg" />
    </div>

    <div class="col-8">
        <h2>Project Shan, Tembusu College</h2>
        <h5>Project Head, August 2018 - May 2019</h5>
        <p>
            Inspired by the Rector's Shied in Tembusu College, I initiated and spearheaded the first committee dedicated
            to conservation efforts of Animal of the Year (AotY). My team successfully funded a research camera (USD500)
            in the Sarychat Ertash Nature Reserve, Kyrgyzstan, and the excess funds raised were donated to the Snow
            Leopard Trust. Throughout the year, we organised bi-weekly events, that included fund raisers, educational
            workshops, and crafting workshops. The themes were centered around the snow leopard, and the other
            endangered species. We concluded the year with an art installation: a shadow art piece made with recycled
            materials</p>
    </div>
</div>

<div class="row">
    <div class="col-3 ">
        <img class="img-fluid thumbnail" src="assets/images/tembusu-logo.jpeg"/>
    </div>
    <div class="col-8">
        <h2>House Committee, Tembusu College</h2>
        <h5>Treasurer and Member, August 2017 - May 2018</h5>
        <p>
            As the treasurer of the committee, I handled and distributed funds and reimbursements for
            all house events. The committee planned and executed fortnightly house activities of various
            calibers. Events included food parties, murder mysteries, video game nights, halloween events, and many
            more. We were also involved in college-level events throughout the year.
    </div>
</div>