p {
    margin: 0 0 1.5em 0
}

p.skills-list {
    margin: 1em 0;
}

div.tech-skills ul.feature-icons li {
    padding-left: 0;
}

ul.frontend li .fas.fa-circle.fa-stack-2x {
    color: #ffc06e;
}

ul.backend li .fas.fa-circle.fa-stack-2x {
    color: #c085ff;
}

ul.envir li .fas.fa-circle.fa-stack-2x {
    color: #8fd2ff;
}

